= form_for @note do |f|
  .header
    .mainContainer
      - if user_signed_in?
        = link_to root_path, class: "mainContainer__title", data: {"turbolinks" => false} do
          = "#{@user[current_user.id - 1].nickname}の日記"
      - else
        = link_to root_path, class: "mainContainer__title", data: {"turbolinks" => false} do
          = "日記"
    .subContainer
      MENU
    .menu#color
      .navigation-block
        %ul.navigation-list
          %li.nav_menu1
            = link_to '投稿一覧', note_path(@notes), data: {"turbolinks" => false}
  .body
    .sidebar
      .sidebar__text
      .sidebar__calendar
        = month_calendar events: @notes do |date, notes|
          = date.day
          %br
          - notes.each do |note|
            - if user_signed_in? && (current_user.id == note.user_id)
              -# link_toで画面遷移したときに初めの一回目だけjavascriptが機能しないことがないようにdata: {"turbolinks" => false}を追加。
              = link_to edit_note_path(note), data: {"turbolinks" => false} do
                = "・"
                = note.title
                %br
    .main
      .diary
        .diary__time
          = f.datetime_select :start_time, use_month_numbers: true, date_separator: '/',discard_hour: true, discard_minute: true
        .diary__title
          = f.text_field :title
        .diary__content
          = f.text_area :content
      .save
        -# 削除ボタンクリック時に確認ダイアログを表示させるためのjs処理を追加したが、link_toの場合は通用しない様子
        -# :javascript
        -#   function submitChk(){
        -#     let back = confirm('ほんまに削除しますか？');
        -#     if (back == true){
        -#       return back;
        -#     }else{
        -#       console.log(back);
        -#     }
        -#   }
        = f.submit "保存する", class: "submit_btn"
        = link_to root_path, data: {"turbolinks" => false}, class: "back_btn" do
          = '戻る'
        -# 削除ボタンをクリックしたときに確認ダイアログが表示されるようにオプション追加
        = link_to note_path(params[:id]), method: :delete, data: {confirm: '削除しますか？'}, class: "delete_btn" do
          = '削除'