.header
  .mainContainer
    = link_to root_path, class: "mainContainer__title", data: {"turbolinks" => false} do
      = "日記"
  .subContainer
    MENU
  .menu#color
    .navigation-block
      %ul.navigation-list
        %li.nav_menu1
          = link_to '日記を書く', new_note_path, data: {"turbolinks" => false}
        %li.nav_menu2
          = link_to '投稿一覧', note_path(@notes), data: {"turbolinks" => false}

.body
  .sidebar
    .sidebar__text
    .sidebar__calendar
      = month_calendar events: @notes do |date, notes|
        = date.day
        %br
        - notes.each do |note|
          = link_to edit_note_path(note), data: {"turbolinks" => false} do
            = note.title

  .main
    #existing_diary
    .new_diary#newdiary
      = link_to '日記を書く', new_note_path, data: {"turbolinks" => false}, class: "new_diary__btn"