.header
  .mainContainer
    .mainContainer__title
      日記
  .subContainer
    MENU
  .menu#color
    .navigation-block
      %ul.navigation-list
        %li.nav_menu1
          %a{href: ""} 日付一覧
        %li.nav_menu2
          %a{href: ""} 内容一覧

.body
  .sidebar
    .sidebar__text
      -# link_toごとにturbolinksを無効にする
      = link_to '日記を書く', new_note_path, data: {"turbolinks" => false}
    .sidebar__calendar
      = month_calendar events: @notes do |date, notes|
        = date.day
        - notes.each do |note|
          = link_to edit_note_path(note), data: {"turbolinks" => false} do
            = note.title

  .main

