= form_for @note do |f|
  .header
    .header__title
      日記

  .body
    .sidebar
      .sidebar__text
      .sidebar__calendar
        = month_calendar events: @notes do |date, notes|
          = date.day
          - notes.each do |note|
            = note.title
    .main
      .diary
        .diary__time
          = f.datetime_select :start_time, use_month_numbers: true, date_separator: '/',discard_hour: true, discard_minute: true
        .diary__title
          = f.text_field :title
        .diary__content
          = f.text_area :content
      .save
        = f.submit "保存する"