= form_for @note do |f|
  .header
    .mainContainer
      - if user_signed_in?
        = link_to root_path, class: "mainContainer__title", data: {"turbolinks" => false} do
          = "#{@user[current_user.id - 1].nickname}の日記"
      - else
        = link_to root_path, class: "mainContainer__title", data: {"turbolinks" => false} do
          = "日記"
    .subContainer
      MENU
    .menu#color
      .navigation-block
        %ul.navigation-list
          %li.nav_menu1
            = link_to '投稿一覧', note_path(@notes), data: {"turbolinks" => false}

  .body
    .sidebar
      .sidebar__text
      .sidebar__calendar
        = month_calendar events: @notes do |date, notes|
          = date.day
          %br
          - notes.each do |note|
            - if user_signed_in? && (current_user.id == note.user_id)
              = "・"
              = note.title
              %br
    .main
      .diary
        .diary__time
          = f.datetime_select :start_time, use_month_numbers: true, date_separator: '/',discard_hour: true, discard_minute: true
        .diary__title
          = f.text_field :title
        .diary__content
          = f.text_area :content
      .save
        = f.submit "保存する"
        = link_to root_path, data: {"turbolinks" => false}, class: "back_btn" do
          = '戻る'