= form_for @note do |f|
  .header
    .header__title
      まもののむれ日記

  .body
    .sidebar
      .sidebar__text
      .sidebar__calendar
        = month_calendar events: @notes do |date, notes|
          = date.day
          - notes.each do |note|
            = note.name
    .main
      .diary
        .diary__title
          日記
          .diary__title--name
            = f.text_field :title
        .diary__content
          = f.text_area :content
      .save
        = f.submit "保存する"